.sidebar {
    display: block;
    min-height: calc(100vh - 72px);
    border: solid 3px #00c4cc;
    border-radius: 0 8px 0 0;
    width: 216px;
    background-color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
} 

.sidebar__nav_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__nav_links__text {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px 12px;
    font-size: 16px;
    font-weight: 400;
}

.sidebar__nav_links__divider {
    width: 95%;
    height: 1px;
    background-color: #000;
    opacity: 0.3;
}